body {
	position: relative;
}

#section1 {padding-top:50px;height:1000px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:1000px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:1000px;color: #fff; background-color: #ff9800;}
#section4 {padding-top:50px;height:1000px;color: #fff; background-color: #00bcd4;}
#section42 {padding-top:50px;height:1000px;color: #fff; background-color: #009688;}

.clockbutton{
	color: black;
}

.steps{
	letter-spacing: 2px;
	font-size: 120%;
}

#fb{
	background-image: url(../images/facebook.png);
	width: 50px;
	height: 50px;
}

#tw{
	background-image: url(../images/twitter.png);
	width: 50px;
	height: 50px;
}