body {
	position: relative;
}

#section1 {padding-top:50px;height:1000px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:1000px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:1000px;color: #fff; background-color: #ff9800;}
#section4 {padding-top:50px;height:1000px;color: #fff; background-color: #00bcd4;}
#section5 {padding-top:50px;height:1000px;color: #fff; background-color: #009688;}
#logout a {padding-left: 398px;}

ul.nav.navbar-nav li a{
	color: white;
}

.clockbutton{
	color: black;
}

#table{
	color:black;
}

#table td h3, #table td h4, #table td h5 {
	margin-top: 23px;
	margin-bottom: 10px;
}

.steps{
	letter-spacing: 2px;
	font-size: 120%;
}

#fb{
	background-image: url(../images/facebook.png);
	width: 50px;
	height: 50px;
}

#tw{
	background-image: url(../images/twitter.png);
	width: 50px;
	height: 50px;
}
