body {
	position: relative;
}

#section1 {padding-top:50px;height:1000px;color: #fff; background-color: #1E88E5;}
#section2 {padding-top:50px;height:1000px;color: #fff; background-color: #673ab7;}
#section3 {padding-top:50px;height:1000px;color: #fff; background-color: #ff9800;}
#section4 {padding-top:50px;height:1000px;color: #fff; background-color: #00bcd4;}
#section5 {padding-top:50px;height:1000px;color: #fff; background-color: #009688;}

body {
   font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
   font-size: 14px;
   line-height: 1.42857143;
   color: #333;
   background-color: rgba(222, 91, 91, 0.57);
}

.h1, .h2, .h3, h1, h2, h3 {
   margin-top: 20px;
   margin-bottom: 10px;
   padding-left: 25px;
}

button, input, optgroup, select, textarea {
    margin: 0;
    font: inherit;
    color: black;
}

ul.nav.navbar-nav li a{
	color: white;
}

.clockbutton{
	color: black;
}

#table{
	color:black;
}

#table td h3, #table td h4, #table td h5 {
	margin-top: 23px;
	margin-bottom: 10px;
}

.steps{
	letter-spacing: 2px;
	font-size: 120%;
}

#fb{
	background-image: url(../images/facebook.png);
	width: 50px;
	height: 50px;
}

#tw{
	background-image: url(../images/twitter.png);
	width: 50px;
	height: 50px;
}

button, input, optgroup, select, textarea{
	color: black
}
